
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Playwright artifacts
playwright-report/
test-results/
*.zip

# Env / secrets
.env

# VS Code
.vscode/
